*{
    background-color: rgb(206, 206, 206);
    font-weight: bold;
    font-family: sans-serif;
}

:root{
    --btn_radius: 0.75em;
    --btn_color: #e8e8e8;
    --btn_bg: #000000;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

a{
    text-decoration: none;
}


.btn {
   border: none;
   border-radius: var(--btn_radius);
   background: gray;
  }

  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--btn_bg);
   border-radius: var(--btn_radius);
   padding: 0.75em 1.5em;
   background: var(--btn_color);
   color: var(--btn_bg);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
   cursor: pointer;
  }

  .btn:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
  }

  .btn:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }
